.spent {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 30px;
  border-radius: 1rem;
  border: solid white 1px;
}
.spent[category="comida"]{
  background-color: rgb(246, 190, 85);
}
.spent[category="compras"]{
  background-color: rgb(118, 192, 214);
}
.spent[category="gasolina"]{
  background-color: rgb(240, 231, 99);
}