.spent {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 1rem;
  border: solid #ccc 1px;
  grid-template-columns: 1fr 150px;
}

.spent[category="comida"]{
  background-color: rgb(246, 190, 85);
}

.spent[category="compras"]{
  background-color: rgb(118, 192, 214);
}

.spent[category="antojo"]{
  background-color: rgb(205, 138, 236);
}

.spent[category="gasolina"]{
  background-color: rgb(240, 231, 99);
}

.spent .left-column {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (min-width: 480px) {
  p.date{
    display: flex;
  }
}