.spent {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 30px;
  border-radius: 1rem;
  border: solid white 1px;
}

.spent:nth-child(odd) {
  background-color: #E0F4FF;
}

.spent:nth-child(even) {
  background-color: #87C4FF;
}